body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

header {
    text-align: center;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.question-box {
    border: 2px solid black;
    padding: 15px;
    margin-bottom: 20px;
    position: relative;
}

.line {
    margin: 10px 0;
}

label {
    display: inline-block;
    width: 30px;
}

input {
    width: 70%;
    border: none;
    border-bottom: 1px solid black;
}

.save {
    position: absolute;
    top: 10px;
    right: 10px;
}

.delete {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

footer {
    display: flex;
    justify-content: flex-end; /* schiebt Inhalt nach rechts */
    margin-top: 20px;
}