html, body {
    height: 100%;
    margin: 0;
    padding: 0; 
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.header-inner {
    display: flex; 
    align-items: center;       
    justify-content: center;
    padding: 10px;
    min-height: 30px;
    background-color: #98cdf5;
}

   
.brand {
    font-weight: 500; 
    font-size: 3.15rem; 
    color: #950000;
    text-align: center;
}

#class-title {
    position: absolute;
    top: 12%;
    left: 8%;
    transform: translate(-50%, -50%);

    font-size: 2.15rem;
    font-weight: bold;
    color: #000000;
}

.content {
    display: flex; 
    flex-direction: column;
    padding: 70px;
    gap: 15px;
      
}

.question-box {
    border: 2px solid black;
    padding: 15px;
    margin-bottom: 20px;
    position: relative;
}

.line {
    margin: 10px 0;
}

label {
    display: inline-block;
    width: 30px;
}

input {
    width: 70%;
    border: none;
    border-bottom: 1px solid black;
}

.save {
    position: absolute;
    top: 10px;
    right: 10px;
}

.delete {
    width: 40px;
    height: 40px;
    cursor: pointer;

    position: absolute;
    bottom: 10px;
    right: 10px;
}

.delete:hover {
    transform: scale(1.06); 
}

.edit {
    width: 40px;
    height: 40px;
    cursor: pointer;
  
    position: absolute;
    bottom: 10px;
    right: 60px;
}

.edit:hover {
    transform: scale(1.06); 
}

.buttons {
    position: fixed;
    bottom: 70px;
    right: 20px;
      
    background-color: #007b8b;
    color: #f9f9f9;
    border: none;
    border-radius: 8px;
    cursor: pointer;
      
    width: 80px;
    height: 40px;
    font-size: 1.4rem;
      
}
   
.buttons:hover {
    background-color: #31c5ee; 
    transform: scale(1.06);  
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.back-button {
    position: fixed;
    bottom: 70px;
    right: 1380px;
      
    background-color: #007b8b;
    color: #f9f9f9;
    border: none;
    border-radius: 8px;
    cursor: pointer;
      
    width: 80px;
    height: 40px;
    font-size: 1.4rem;
      
}
   
.back-button:hover {
    background-color: #31c5ee; 
    transform: scale(1.06);  
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

footer {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 12px;
    min-height: 35px;
    font-weight: 600; 
    color: #950000;
    background-color: #8abce1;
}